/*
font-family: 'Rubik', sans-serif;
font-family: 'Padauk', sans-serif;
*/

/*
old background-color: rgb(12,23,25);
old border-color: rgb(137, 183, 36);
muted purple-grey background-color: rgb(102,98,112);
nice light grey  background-color: #9099A2;
chill light grey background-color: rgb(120,122,125);
*/

body {
  margin: 120px 0px 0px 0px;
  background-color: rgb(120,122,125);
  font-family: 'Rubik', sans-serif;
}

.hr-sm {
  margin: 8px auto 6px auto;
  height: 2px;
  width: 40px;
  background-color: black;
  border-radius: 1px;
  border-width: 0px;
  border-style: hidden;
}

.nav-bar {
  position: fixed;
  top: 0;
  margin-top: 0px;
  width: 100%;
  height: 60px;
  background-color: lightgrey;
}
.nav-item {
  height: 60px;
  width: 70px;
  /* outline-color: green;
  outline-width: 1px;
  outline-style: solid; */
}
.nav-left {
  float: left;
}
.logo {
  background-image: url("../img/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.nav-right {
  float: right;
}
.menu {
  cursor: pointer;
  display: block;
  margin: 0px auto;
  /* outline-color: green;
  outline-width: 1px;
  outline-style: solid; */
}
.menu:hover > .menu-bar {
  /* transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay]; */
  background-color: lightgreen;
  transition: background-color 0.5s ease;
}
.menu-bar {
  height: 6px;
  width: 44px;
  margin: 7px auto;
  background-color: grey;
  border-width: 1px;
  border-style: none;
  border-radius: 2px;
}
#menu-bar-top {
  margin-top: 14px;
}
.proj-list-menu {
  opacity: 0;
  background-color: lightgrey;
  position: fixed;
  padding-top: 10px;
  top: 60px;
  right: 0px;
  width: 200px;
  height: 0px;
  border-width: 2px;
  border-style: hidden;
  border-radius: 0px 0px 0px 12px; /* top-left | top-right | bottom-right | bottom-left */
}
.menu:hover .proj-list-menu {
  height: 260px;
  opacity: 1;
  transition: all 1s ease;
}
.menu-item {
  opacity: 1;
  text-align: center;
  width: 100%;
  height: 0px;
  font-size: 18px;
  color:black;
}
.menu:hover .menu-item  {
  height: 20px;
  transition: height 1s ease;
}
.menu-item:hover {
  background-color: lightgreen;
  /* outline-width: 1px;
  outline-style: solid;
  outline-color: black; */
}

.content-column {
  width: 640px;
  margin: 0px auto;
}

.title-container {
  width: 500px;
  margin: 0px auto;
  /* outline-color: red;
  outline-width: 1px;
  outline-style: solid; */
}

#main-title {
  text-align: center;
  font-size: 50px;
  color: white;
  font-style: normal;
  font-weight: normal;
  /* outline-color: green;
  outline-style: solid;
  outline-width: 1px; */
}

.canvas-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-radius: 4px;
  border-color: lightgrey;
  border-width: 2px;
  border-style: solid;
}

.canvas-el {
  /* outline-color: darkgrey;
  outline-width: 4px;
  outline-style: outset; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.animTitle {
  text-align: center;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  margin-bottom: 14px;
}
.anim-instruct {
  text-align: center;
}

.input-group {
  padding: 8px;
  width: 196px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.input {
  display: inline-flex;
  height: 30px;
  width: 60px;
  font-size: 18px;
  font-family: 'Padauk', sans-serif;
  border-radius: 3px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  cursor: pointer;
}

.txt {
  padding-top: 2px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.start-btn:hover {
  background-color: white;
  color: black;
}

.pause-btn:hover {
  background-color: white;
  color: black;
}

.reset-btn:hover {
  background-color: white;
  color: black;
}

.footer-container {
  text-align: center;
  font-size: 24px;
  width: 500px;
  height: 60px;
  margin: 0px auto;
}
