/*
font-family: 'Rubik', sans-serif;
font-family: 'Padauk', sans-serif;
*/

/*
old background-color: rgb(12,23,25);
old border-color: rgb(137, 183, 36);
muted purple-grey background-color: rgb(102,98,112);
nice light grey  background-color: #9099A2;
chill light grey background-color: rgb(120,122,125);
*/

body {
  /* background-color: rgb(102,98,112); */
  background-color: rgb(120,122,125);
  font-family: 'Rubik', sans-serif;
}

#main-title {
  text-align: center;
  font-size: 50px;
  color: white;
  font-style: normal;
  font-weight: normal;
}

.canvas-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-radius: 4px;
  border-color: lightgrey;
  border-width: 2px;
  border-style: solid;
}

#canvas1, #canvas2, #canvas3, #canvas4, #canvas5 {
  /* outline-color: darkgrey;
  outline-width: 4px;
  outline-style: outset; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.animTitle {
  text-align: center;
  margin-bottom: 10px;
}

.input-group {
  padding: 8px;
  width: 196px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.input {
  display: inline-flex;
  height: 30px;
  width: 60px;
  font-size: 18px;
  font-family: 'Padauk', sans-serif;
  border-radius: 3px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  cursor: pointer;
}

.txt {
  padding-top: 2px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#start1, #start2, #start3, #start4, #canvas5 {
}
#start1:hover, #start2:hover, #start3:hover, #start4:hover, #start5:hover {
  background-color: white;
  color: black;
}

#pause1, #pause2, #pause3, #pause4, #canvas5 {
}
#pause1:hover, #pause2:hover, #pause3:hover, #pause4:hover, #pause5:hover {
  background-color: white;
  color: black;
}

#reset1, #reset2, #reset3, #reset4, #canvas5 {
}
#reset1:hover, #reset2:hover, #reset3:hover, #reset4:hover, #reset5:hover {
  background-color: white;
  color: black;
}
