
body {
  background-color: lightblue;
}

.canvas-container {
  border-radius: 10px;
  border-color: rgb(137, 183, 36);
  border-width: 2px;
  border-style: solid;
}

.input-group {
  padding: 8px;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  /* outline-color: red;
  outline-style: solid;
  outline-width: 1px; */
}

.input {
  font-size: 21px;
  display: inline-flex;
  height: 30px;
  width: 60px;
  border-radius: 3px;
  border-style: solid;
  border-color: green;
  border-width: 1px;
}

.txt {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#init {

}
#init:hover {
  background-color: rgb(137, 183, 36);
}

#reset {

}
#reset:hover {
  background-color: rgb(137, 183, 36);
}
